<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Soundbox{% endblock %}</title>

    <base href="{{ constant('BASE_URL') }}">

{% block stylesheet %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/milligram.css">
    <link rel="stylesheet" href="/css/custom.css">
{% endblock %}
</head>
<body>
<header>
    <h1>Soundbox</h1>
</header>
<div class="container">
    {% block content %}{% endblock %}
</div>

{% block js %}
    <script rel="script" src="/js/jquery-3.3.1.min.js"></script>
{% endblock %}
</body>
</html>